<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto de Daw</title>
    <meta name="description" content="Proyecto de daw">
    <meta name="author" content="Grupo de la muerte">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/styles/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/styles/workspace_material.css">
    <link href="/styles/profile.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

  </head>
  <body >
    <!--start header-->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">

                    <ul class="left">
                      <li class="no-hover"><img src="/images/login-logo.png" style="margin-left:-10px;  margin-top:0em; height:60px;"></li>
                      <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1">ER-Diagram</a></h1></li>
                    </ul>


                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <div class="row">
      <div class="col s11 m11 l11">
        <div class="row">
            <div class="card-panel yellow lighten-4" style="width:75%;" >
                <span contenteditable id="diagram_name" style="font-size:2em; margin-top:1em;">Nombre del Diagrama</h4>
            </div>
            <div style="position:absolute; top:70px; right:20px;">
                <!-- Dropdown Profile--->
                 <ul id="profile" class="dropdown-content">
                   <li><a href="/profile">Perfil</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Cerrar Sesi&oacute;n</a></li>
                 </ul>

                <ul class="hide-on-med-and-down"style="height:35px;">
                    <li><a  style="height:35px;"class="dropdown-button" data-activates="profile" href="#"> <h4 style="font-size:1em;padding-right:1em;" class="right-align card-title grey-text"><i style="height:35px; margin-top:-0.5em"class="material-icons">perm_identity</i><span id="user_name"><%=req.session.user  %></span></h4> </a></li>
                </ul>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <!--end header-->
    <!--start main-->
    <div class="row">

        <div class="fixed-action-btn horizontal click-to-toggle" style="top: 150px; right: 24px;">
            <a class="btn-floating btn-large blue">
              <i class="large mdi-navigation-menu"></i>
            </a>
            <ul>
              <li><a class="btn-floating blue darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Nueva Tabla" id="item1"><i class="material-icons">queue</i></a></li>
              <li><a class="btn-floating blue darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Nueva Relacion" id="item2"><i class="material-icons">call_made</i></a></li>
              <li><a class="btn-floating blue darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Guardar" id="save"><i class="material-icons">system_update_alt</i></a></li>
              <li><a class="btn-floating blue darken-1 tooltipped modal-trigger" href="#modal1" data-position="top" data-delay="50" data-tooltip="Cargar" ><i class="material-icons">present_to_all</i></a></li>
              <li><a class="btn-floating blue darken-1 tooltipped modal-trigger" href="#modal2" data-position="top" data-delay="50" data-tooltip="Compartir" ><i class="material-icons">loyalty</i></a></li>
            </ul>
          </div>

          <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 15px; right: 24px;">
              <a class="btn-floating blue darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Chat" id="button_chat">
                <i class="material-icons">forum</i></a>
        </div>
      <div class="col s12 m12 l12" >
        <div id="workspace"></div>
      </div>
    </div>

        <!-- Modal Load -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Cargar Diagrama</h4>
          <p>Inserte el ID del diagrama que desea cargar</p>
          <div class="row fluid">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="ID Diagrama" id="diagram_id" type="text" class="validate">
                        <label for="ID Diagrama">ID Diagrama</label>
                    </div>
                    <div class="input-field col s6">
                        <a id ="load"class="waves-effect waves-light btn"><i class="material-icons left">present_to_all</i>Cargar</a>
                        <!-- <input id="load" type="submit" class="waves-effect waves-light btn" value="Cargar"/> -->
                    </div>
                </div>
            </form>
         </div>
        </div>
      </div>

      <!-- Modal Share -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Compartir Diagrama</h4>
        <p>Env&iacute;e este ID a quien desee compartir el diagrama</p>
        <p id="key"></p>
        <input type="text" value="<%= id %>">
      </div>
    </div>

    <!--modal chat --->
    <div id="modalchat" >
        <div class="modalcontent">
            <div class="row">
                <h4 class="grey-text" style="font-size:1em; padding-left:1em;">Chat <i id="closechat" class="fa fa-times"></i></h4>

                <hr class="grey-text" style="margin-left:1em; margin-rigth:1em;"/>
                <div id="chatbox">
                    <!--received -->
                    <div class="received message-content col s12 m12 l12">
                        <div class="message-user col s2 m2 l2">
                            <p class="blue-text">Emisor</p>
                        </div>
                        <div class="message-message col s10 m10 l10">
                            <div class="message-text">
                                <p class="text">hola</p>
                            </div>
                        </div>
                    </div>
                    <!--sent -->
                    <div class="sent message-content col s12 m12 l12">
                        <div class="message-user col s2 m2 l2">
                            <p class="grey-text">yo</p>
                        </div>
                        <div class="message-message col s10 m10 l10">
                            <div class="message-text">
                                <p class="text">hola</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="inputbox">
                        <div class="col s10 m10 l10 input-field">
                            <input placeholder="Escribe aqu&iacute;" name="usermsg" type="text" id="usermsg" size="63" />
                        </div>
                        <div class="col s2 m2 l2 input-field">
                            <button id="submitmsg" class="btn-floating col-lg-2 col-md-2 blue darken-2"><i class="material-icons">play_arrow</i></button>
                            <!-- <input name="submitmsg" type="submit"  id="submitmsg" value="Send" /> -->
                        </div>
                </div>
            </div>
        </div>
      </div>


    <input type="hidden" value="<%= id %>" id="id_diagram">
    <script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });


    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });

    $("#button_chat").click(function(){
        $("#modalchat").css("visibility","visible");
    });

    $("#closechat").click(function(){
        $("#modalchat").css("visibility","hidden");
    });

    setInterval(500, function(){$('.lean-overlay').css('opacity','0');});

    </script>
    <!--end main-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/joint.js"></script>
    <script src="/js/workspace.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
