/*#workspace{ border:5px solid #bdbdbd; }*/
nav{ background-color: #00838f; }
nav ul li{ padding-left: 1em; }
#toolbox{ padding-left: 2em; }
#toolbox div{ border: 2px solid #607d8b; position: relative; }
#toolbox div img{ }
#toolbox img:hover {
  opacity: 1; z-index:100;
  -moz-transform:scale(1.1);
  /* zoom en navegador Firefox */ -webkit-transform:scale(1.1);
  /* zoom en navegador Chrome y Safari */ -o-transform:scale(1.1);
}
/* zoom en navegador Opera */
.button{ padding:0px; }
.button a{ width:100%; }
.caret {
  margin-top:-20px;
}

#modalchat{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    visibility: hidden;
}
.modalcontent{
    position: absolute;
    bottom: 60px;
    right: 40px;
    color:rgba(0,0,0,0.87);
    background: #fcfcfc;
    width: 320px;
    height: 280px;
    border: 1px solid #9e9e9e;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    /*shadows*/
    -webkit-box-shadow: -2px 6px 52px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 52px 1px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 52px 1px rgba(0,0,0,0.75);
}

#inputbox{
    bottom: 0;
    position: absolute;
}

#closechat{
    float:right;
    margin-right: 1.2em;
}

#chatbox{
    overflow: auto;
}

.message-content{
    margin: 0.5em;
}

.received .message-user{
    float:left;
}
.received .message-message{
    float: left;
}

.sent .message-user{
    float:right;
}
.sent .message-message{
    float: right;
}

.sent > .message-message >.message-text > .text{
    float: right;
}
.message-text{
    padding-left:  0.5em;
    padding-right:   0.5em;

}
.sent > .message-message > .message-text{
    background:#3B94D9;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.received > .message-message > .message-text{
    background:#E1E8ED ;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
