#workspace{ border:1px solid #a7a7a7; }
nav{ background-color: #00838f; }
nav ul li{ padding-left: 1em; }
#toolbox{ padding-left: 2em; }
#toolbox div{ border: 2px solid #607d8b; position: relative; }
#toolbox div img{ }
#toolbox img:hover {
  opacity: 1; z-index:100;
  -moz-transform:scale(1.1);
  /* zoom en navegador Firefox */ -webkit-transform:scale(1.1);
  /* zoom en navegador Chrome y Safari */ -o-transform:scale(1.1);
}
/* zoom en navegador Opera */
.button{ padding:0px; }
.button a{ width:100%; }
.caret {
  margin-top:-20px;
}


